* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background-color: #cbddfc;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

div {
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 400px;
    width: 400px;
    background-color: #00246b;
    border-radius: 40px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cbddfc;
    padding-top: 35px;
    font-size: 30px
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-left: 10px;
    color: #cbddfc;
    font-size: 30px;

}

button {
        height: 40px;
        width: 300px;
        margin-top: 70px;
        margin-left: 50px ;
        color:#00246b;
        background-color: #cbddfc;
        font-size: 30px;
        border-radius: 50px;
        cursor: pointer;

}